
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <!-- Task Details Card -->
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4><i class="fas fa-tasks"></i> Task Details</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{data.task_name}}</h5>
            <p class="card-text"><strong>Description:</strong> {{data.task_description}}.</p>
            <p><strong>Priority:</strong> <span class="badge bg-danger">{{data.priority}}</span></p>
            <p><strong>Due Date:</strong> {{data.due_date}}</p>
            
            <div class="d-flex gap-2">
                {% if i.status == False %}
                    <td>
                        <a href="{% url 'complete' pk=data.id %}" class="btn btn-success"><i class="fas fa-check"></i> Mark as Completed</a>
                
                    </td>
                {% else %}
                    <td><span class="badge bg-success">Completed</span></td>
                {% endif %}
                <a href="{% url 'update' pk=data.id %}" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
                <a href="{% url 'delete' pk=data.id %}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                <a href="{% url 'all_task'%}" class="btn btn-primary"><i class="fas fa-xmark"></i> Cancel</a>
            </div>
            
        </div>
    </div>

    


    {% endblock %}