<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
</head>
<body>
    

    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card">

                    <div class="card-header">
                        <h3>Log In</h3>

                        <div class="card-body">

                            <form action="" method = "post">
                                {%csrf_token%}
                                {%for i in form%}
                                <div>
                                <label for="" class="form-label">
                                    {{i.label}}
                                </label>
                                {{i}}
                            </div>
                            {%endfor%}
                            <button type="submit" class="btn btn-danger mt-5">Submit</button><br>
                            <a href="{% url 'signup'%}" class=" mt-100" >Not a User?Please Sign Up</a>
                            </form>

                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>

</body>
</html>